<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijo2examen-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <template is='dom-repeat' items='[[itemArray]]'>
		<div class="info-container">
			<p align="center">[[item.desc]]</p>
		</div>
	</template>
	
	<table style="background-color:gray;" border="2" align="center">
		<tr>
			<th>DATE</th>
			<th>DESCRIPTION</th>
			<th>AMOUNT</th>
		</tr>	
		<template is='dom-repeat' items='[[itemArray2]]'>
			<tr>
				<td align="center">[[item.date]]</td>
				<td>[[item.desc]]</td>
				<td align="right">[[item.amount]]</td>
			</tr>	
		</template>
	</table>
	
	
  </template>

  <script>
    /**
     * `hijo2examen-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Hijo2examenElement extends Polymer.Element {
      static get is() { return 'hijo2examen-element'; }
      static get properties() {
        return {
          itemArray: {
            type: Array,
            value() {
              return [
                {head: 'Label1', desc: 'Registro1'},
				{head: 'Label2', desc: 'Registro2'},
				{head: 'Label3', desc: 'Registro3'}
              ];
            }
          },
		  itemArray2: {
            type: Array,
            value() {
               return [
                {date: '01/04/2019', desc: 'Dato 1', amount: '1'},
				{date: '02/04/2019', desc: 'Dato 2', amount: '20'},
				{date: '03/04/2019', desc: 'Dato 3', amount: '100'},
				{date: '04/04/2019', desc: 'Dato 4', amount: '4000'},
				{date: '05/04/2019', desc: 'Dato 5', amount: '10000'},
              ]
            }
          }
        };
      }
    }

    window.customElements.define(Hijo2examenElement.is, Hijo2examenElement);
  </script>
</dom-module>
